<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">

<h3 style="color:rgb(255, 189, 6);font-family: 'Open Sans';font-size:50px;"><i   class="fas fa-book-reader"></i> Chronicles</h3>
<p style="color:rgb(248, 166, 3);font-family: 'Open Sans';font-size:25px;"></p>
<div class="section">
    <p style="color:rgb(90, 62, 0);font-family: 'Open Sans';font-size:30px;"  class="lead">A Collaborative Stories Experience </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>