p {
    margin: 10px 0 !important;
  }
body {
  background-image: url('bd.jpg');
  background-repeat: no-repeat;
  
 
  position: relative;
}
  


  
  .login-container {
    height: 100px;
    width: 570px;
    mix-blend-mode: exclusion;
    margin-top: 100px;
    margin-right: 100px;
    text-align: center;
    
    
  }
  
  .fa-small {
    font-size: 16px !important;
  }
  
  .btn-float {
    float: left;
    margin-right: 10px;
  }
  
  .img-small {
    width: 180px;
  }