<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">



<h3 style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:40px;"> &nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Add Story</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <br>
            <div class="input-field">
                <input type="text" id="title" name="title">
                <label style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:20px;" for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:20px;" for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5 style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:22px;" >Tell Us Your Story:</h5>
                <textarea id="body" name="body"></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>