<h3 style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:30px;" >Edit Story</h3>
<div class="row">
    <form action="/stories/{{story._id}}" method="POST" class="col s12">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" value="{{story.title}}">
                <label style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:20px;" for="title">Title</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    {{#select story.status}}
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                    {{/select}}
                </select>
                <label style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:20px;"  for="status">Status</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <h5 style="color:rgba(255, 179, 0, 0.979);font-family: 'Open Sans';font-size:20px;" >Tell Us Your Story:</h5>
                <textarea id="body" name="body">{{story.body}}</textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>